<header>
    <div>
        <span>GMR</span>
        <img class="header-logo" src="../../../assets/images/logo.png" alt="logo">
    </div>
    <ul>
        <li>
            <a [routerLink]="['/']">Shop</a>
        </li>
        <li>
            <a *ngIf="!user" [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a *ngIf="!user" [routerLink]="['/register']">Register</a>
        </li>
        <li>
            <a *ngIf="user" [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
            <a *ngIf="user" [routerLink]="['/cart']">Cart</a>
        </li>
        <li>
            <a *ngIf="user" [routerLink]="['/logout']">Logout</a>
        </li>
    </ul>
</header>
