<header>
    <img class="header-logo" src="../../../assets/images/logo.png" alt="logo">
    <ul>
        <li>
            <a [routerLink]="['/']">Shop</a>
        </li>
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/register']">Register</a>
        </li>
        <li>
            <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
            <a [routerLink]="['/cart']">Cart</a>
        </li>
        <li>
            <a [routerLink]="['/logout']">Logout</a>
        </li>
    </ul>
</header>
