body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: auto;
    margin:auto;
    padding:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    .data-box {
        background: rgba(0,0,0,.5);
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        padding: 15px;
        margin-top: 10px ;
        h4 {
            font-size: 18px;
            padding: 0;
            color: #fff;
            text-align: center;
        }
        .user-box {
            label {
                font-size: 18px;
                color: #fff;
                pointer-events: none;
                transition: .5s;
            }
        }
            
    }

    .games-box {
        background: rgba(0,0,0,.5);
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
        .game-box {
            border: solid grey;
            border-radius: 10px;
            width: 175px;
            height: 325px;
            background: rgba(0,0,0,.5);
            color: #fff;
            text-align: center;
            .game-data {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: 200px;
                }
                h4 {
                    font-size: 15px;
                }
            }
            .game-button {
                display: flex;
                justify-content: space-around;
                button{
                    background-color: #550a5b;
                    color: #fff;
                }
                button:hover {
                    box-shadow: 0 0 5px #a116ad,
                    0 0 25px #bd2fca,
                    0 0 50px #ce95d3,
                }    
                
            }
            
        }  
        .game-box:hover {
            box-shadow: 0 0 5px #a116ad,
            0 0 25px #bd2fca,
            0 0 50px #ce95d3,
        }         
    }
}
    


