<body>
    <div class="data-box">
        <h4>Personal data</h4>
        <form>
            <div class="user-box">
                <label for="">First name: </label>
                <label for="">{{user.firstname}}</label>
            </div>
            <div class="user-box">
                <label for="">Last name: </label>
                <label for="">{{user.lastname}}</label>
            </div>
            <div class="user-box">
                <label for="">Email: </label>
                <label for="">{{user.email}}</label>
            </div>
            <div class="user-box">
                <label for="">Age: </label>
                <label for="">{{user.age}}</label>
            </div>
            
        </form>
    </div>
    <div class="games-box"> 
            <div class="game-box" *ngFor="let game of games; index as i">
                <div class="game-data" routerLink="/game/{{game.id}}">
                    <img class="game-img" src="{{game.img}}" alt="{{game.title}}">
                    <h4 class="title">{{game.title}}</h4>
                </div>
                <div class="game-button">
                    <button (click)="deleteProfileGame(i)">Delete</button>
                    <div *ngIf="!game.downloaded; else play">
                        <button (click)="download(game)">Download</button>
                    </div>
                    <ng-template #play>
                        <button>Play</button>
                    </ng-template>
                    
                </div>
            </div>
    </div>
</body>

