<div class="container">
    <div class="game-card">
        <h4 class="title">{{game.title}}</h4>
        <img src="{{game.img}}" alt="{{game.title}}">
        <p class="platform">Platform: {{game.platform}}</p>
        <p class="developer">Developer: {{game.developer}}</p>
        <p class="price">{{game.price}}</p>
        <p class="rating"><img src="../../../assets/images/star.png" alt="">{{game.rating}}</p>
        <button (click)="cartGame(game)">Add to cart</button>
        <button routerLink="/">Back</button>
    </div>
</div>
