<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input [(ngModel)]="email" type="email" name="email" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input [(ngModel)]="pwd" type="password" name="password" required="">
            <label>Password</label>
          </div>
          <p class="login-error">{{error}}</p>
          <button (click)="login()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </button>
        </form>
        <p>Not registered? do it <a href="/register">here</a>!!</p>
    </div>
</body>
