<body>
    <div class="cart-box">
        <div class="cart-list" *ngFor="let game of games">
            <div class="cart-game" routerLink="/game/{{game.id}}">
                <img class="game-img" src="{{game.img}}" alt="{{game.title}}">
                <ul>
                    <li class="title">{{game.title}}</li>
                    <li class="price">{{game.price}}</li>
                    <li class="rating"><img src="../../../assets/images/star.png" alt="">{{game.rating}}</li>
                </ul>
            </div>
            <div class="cart-game-button">
                <button>Delete</button>
            </div>
        </div>
    </div>
    
    <div class="payment-box">
        <h2>Payment</h2>
        <div class="payment-box-cards"></div>
        <form>
            <div class="user-box">
                <input type="text" name="" required>
                <label for="">Name on card</label>
            </div>
            <div class="user-box">
                <input type="number" name="" required>
                <label for="">Credit card number</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required>
                <label for="">Exp date</label>
            </div>
            <div class="user-box">
                <input type="number" name="" required>
                <label for="">CVV</label>
            </div>
            
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Pay
            </button>
        </form>
    </div>
      



</body>