<div class="container">
    <div class = "buttons">
        <div>
            <button (click)="turntoGrid()"><img src="../../../assets/images/icon-grid.png" alt=""></button>
            <button (click)="turntoList()"><img src="../../../assets/images/icon-list.png" alt=""></button>
        </div>
    </div>
    
    <div class="buscador">
    <input type="text" placeholder="Buscador">
    </div>
    
    
    <div *ngIf="grid; else list" class="games-grid">
        <div class="game-grid" *ngFor="let game of games">
            <img class="game-img" src="{{game.img}}" alt="{{game.title}}">
            <h4 class="title">{{game.title}}</h4>
            <p class="price">{{game.price}}</p>
            <p class="rating"><img src="../../../assets/images/star.png" alt="">{{game.rating}}</p>
        </div>
    </div>
    
    <ng-template #list>
    <div class="games-list">
        <div class="game-list" *ngFor="let game of games">
            <img class="game-img" src="{{game.img}}" alt="{{game.title}}">
            <ul>
                <li class="title">{{game.title}}</li>
                <li class="price">{{game.price}}</li>
                <li class="rating"><img src="../../../assets/images/star.png" alt="">{{game.rating}}</li>
            </ul>
        </div>
    </div>
    </ng-template>
    
    </div>