.container {
    height: 750px;
    width: auto;
    margin:auto;
    padding:auto;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    .buttons {
        height: 30px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        img {
            height: 15px;
        }
    }
    .buscador {
        display: flex;
        justify-content: flex-end;
        margin: 10px 25px;
        input{
                border-radius: 3px;
                padding: 8px 30px;
                border: 1px solid;
        }
    }
}
    
.games-grid {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    & .game-grid {
        border: solid grey;
        border-radius: 10px;
        width: 175px;
        height: 400px;
        background: rgba(0,0,0,.5);
        color: #fff;
        text-align: center;
        div {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .game-img {
                height: 200px;
            }
            button {
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                img {
                    width: 15px;
                }
            }
        }        
    }
}

.games-list {
    align-content: center;
    & .game-list {
        border: solid grey;
        border-radius: 10px;
        width: 75%;
        height: 150px;
        background: rgba(0,0,0,.5);
        color: #fff;
        text-align: center;
        div{
            border-bottom: 1px solid rgb(176, 175, 175);
            padding: 20px 0px;
            display: flex;
            .game-img {
                height: 100px;
            }
            button {
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                img {
                    width: 15px;
                }
            }
        }
    }
}


.title {
    text-transform: uppercase;
    margin-top: 8px;
}

.price {
    margin-top: 8px;
}

.price:after {
    content: "€";
    font-size: 12px;
    font-weight: 300;
}

.rating {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    img {
        height: 10px;
    }
}

.rating:after {
    content:"/10";
    font-size: 12px;
    font-weight: 300;
}

.stars__icon {
    color: #dbb809;
}



.buscador {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;

    input{
        border-radius: 3px;
        padding: 8px 30px;
        border: 1px solid;
    }
}





